{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/teachers.css"/>
{% endblock styles %}

{% block content %}
    <form class="card" method="POST" action="/teachers?_method=PUT">
        <section class="avatar" style="background: url('https://source.unsplash.com/collection/9374406/500x500') no-repeat center center / cover"></section>
        <section class="details">
            <h3>Editar professor</h3>
            {% include "teachers/fields.njk"%}

            <input type="hidden" name="id" value="{{teacher.id}}">
        </section>
    </form>

{% endblock content %}