{% extends "layout.njk" %}

{% block styles %}{% endblock styles %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar"></section>
        <section class="details">
            <h3>Adicionar novo professor</h3>

            {% include "teachers/fields.njk"%}
        </section>
    </form>
{% endblock content %}